* {
    box-sizing: border-box;
  }
  body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: #f5f6f8;
    color: #333;
  }
  
  /* 전체 레이아웃 */
  .container {
    display: flex;
    height: 100vh;
  }
  
  /* 사이드바 */
  .sidebar {
    width: 220px;
    background-color: #ffffff;
    border-right: 1px solid #ddd;
    padding: 20px;
  }
  .logo {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 30px;
  }
  .menu {
    list-style-type: none;
  }
  .menu a {
    display: block;
    color: #333;
    text-decoration: none;
    padding: 10px 0;
    cursor: pointer;
  }
  .menu a:hover {
    color: #0077cc;
    font-weight: 500;
  }
  
  /* 메인 영역 */
  .main {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  /* 상단 바 */
  .topbar {
    height: 60px;
    background-color: #ffffff;
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 20px;
  }
  .top-actions .btn {
    margin-left: 10px;
    padding: 8px 14px;
    text-decoration: none;
    /* background-color: #0077cc; */
    color: white;
    border-radius: 4px;
    font-size: 14px;
  }
  .top-actions .btn-secondary {
    background-color: #929292;
  }

  
  /* 메인 콘텐츠 */
  main {
    flex: 1;
    overflow-y: auto;
    padding: 20px;
  }
  
  /* router-view 영역을 감싸는 콘텐츠 컨테이너 */
  main .container {
    max-width: 1300px;
    margin: 0 auto;
    background: #fff;
    border: 1px solid #ddd;
    padding: 24px;
    border-radius: 6px;
    min-height: 1500px;
  }

  /* Form */
.form-box {
    /* display: grid;
    grid-template-rows: 1fr;
    gap: 5px; */
    place-items: center;
    margin: 40px auto;
    width: 700px;
    border: 1px solid #c5c5c5;
    padding: 40px 20px;
    margin-left: 110px;
    min-height: 500px;
}
.form-box > * {
    width: 90%;
    margin: 5px;
}
.form-box > input:not([type="file"]) {
    height: 40px;
    background-color: #f0f0f0;
    border-radius: 5px;
    border: 1px solid #c5c5c5;
    padding: 0 10px;
}
.form-container {
  margin: 0;
  padding: 0;
  min-height: 80vh;
}

.form-title {
    font-size: 2rem;
    font-weight: 900;
    margin: 20px;
    margin-bottom: 100px;
    padding-top: 20px;
    text-align: center;
}
textarea {
    width: 100%;
    height: 160px;
    border: 1px solid #c5c5c5;
    border-radius: 5px;
    resize: none;
    padding: 5px;
}
input:focus {
  outline: none;
  border: 1px solid #c5c5c5;
  border-radius: 10px;
}
textarea:focus {
    outline: none;
    border: 1px solid #c5c5c5;
    border-radius: 10px;
}
.radio-box {
    display: flex;
    justify-content: space-around;
}
.radio-box label {
    margin-right: 5px;
}


/* Button */
.btn-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.btn {
    border-radius: 10px;
    font-size: 1rem;
    height: 40px;
    /* line-height: 40px; */
    border: none;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
}
.btn:hover {
    font-weight: 900;
}
.btn-header {
    width: 80px;
}
.btn-close {
    width: 60px;
}
.btn-bg-blue {
    color: #fff;
    background-color: #0077cc;
}
.btn-bg-blue:hover {
  color: #fff;
  background-color: #005fa3;
}
.btn-bg-white {
    color: #000;
    background-color: #fff;
}
.btn-bg-red {
    color: #fff;
    background-color: #ec1e1e;
}
.btn-bg-red:hover {
  color: #fff;
  background-color: #b61a1a;
}
.btn-bg-gray {
  color: #fff;
  background-color: #7c7c7c
}
.btn-bg-gray:hover {
  color: #fff;
  background-color: #555;
}